<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title ,require:true%>
    <div class="form-group desc optional blog_desc">
      <label class="desc optional control-label" for="blog_desc">Desc</label>
      <textarea class="string desc optional form-control"  name="blog[desc]"rows="5" id="desc" require>
        <%= f.object.desc %>
      </textarea>
    </div>
    
    <%= f.input :url %>
    <%= f.input :tags %>
    <%= f.input :category %>
    <%= f.input :sub_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <input class="btn btn-danger" type="reset" value="Reset">
  </div>
<% end %>

<script>
  function h(e) {
    $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
  }
$('textarea').each(function () {
  h(this);
}).on('input', function () {
  h(this);
});
</script>